{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"> 
</head>
<body>
    {% comment %} //check rol for navbar... {% endcomment %}
    {% if request.user.role == 'owner' %}
        {% include 'garage/owner/ownersiderbar.html' %}
    {% elif request.user.role == 'user' %}
        {% include 'garage/user/usernavbar.html' %}
    {% endif %}
    {% block content %}
    {% endblock %}

    <footer style="background-color: #333; color: white; text-align: center; padding: 20px 0; margin-top: 50px; width: 100%; border-top: 3px solid #007bff;">
        <p style="margin: 0; font-size: 15px;">&copy; 2026 <strong>Egarage System</strong> | All Rights Reserved.</p>
        <p style="margin: 5px 0 0 0; font-size: 14px; color: #ffc107;">Developed with ❤️ by Mihir Patel</p>
    </footer>
    
</body>
</html>
